body {
    font-family: "PT Sans", Helvetica, sans-serif; 
    background-color: #FFFFFF;
    color: #1C2321;
    padding-top: 50pt; 
    padding-top: 60pt;
}

h5 {
    font-weight: bold;
}

.navbar {
    border-width: 1px;
    border-color: #E7E7E7;
    background-color: #FFFFFF;
    text-align: center;
}

.navbar li {
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px; 
}

.navbar-light .navbar-nav .nav-link {
    color: #5E6572;
}

.navbar-nav .dropdown-item {
    color: #5E6572;
}

.navbar-nav .dropdown-item:hover{
    background-color: #EEF1EF;
    color: #5E6572;
}

.navbar-nav .dropdown-item:focus {
    background-color: #5E6572;
    color: #EEF1EF;
}

a {
    color: #A9B4C2;
    text-decoration: none;
}

a:hover {
    color: #5E6572;
    text-decoration: none;
}

mark {
    background-color: #A9B4C2;
    color: #FFFFFF;
}

.badge {
    color: #EEF1EF;
    background-color: #7D98A1;
    font-size: medium;
}

.link {
    color: #EEF1EF;
    background-color: #5E6572;
    font-size: medium;
}

footer {
    border-top: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    color: #5E6572;
    background-color: #FFFFFF;
}

/* needed to offset fixed-top navbar */
#about:before, #education:before, #projects:before, #skills:before {
    height: 54px; 
    content: "";
    display: block;
}